/*Styling for Heading 1*/
h1 {
    text-align: center;
    text-decoration: underline;
}

/*Styling for Heading 2*/
h2 {
    text-decoration: underline;    
}


/* Image Resizing - Taken From https://www.w3schools.com/css/css_image_gallery.asp*/
div.gallery {
    border: 1px solid #ccc;
}
div.gallery:hover {
    border: 1px solid #777;
}
div.gallery img {
    width: 100%;
    height: auto;
}
div.desc {
    padding: 15px;
    text-align: center;
}
* {
    box-sizing: border-box;
}
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}
@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}
@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}



/* adds a border underneath each tr element */
tr {
    border-bottom: 1px solid #d6d6d6;
}